python==3.11
pip==23.0.1
awesome-streamlit==20200728.1
google-auth==2.16.1
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
gradio==3.19.1
keras==2.12.0rc1
Markdown==3.4.1
markdown-it-py==2.2.0
matplotlib==3.7.0
matplotlib-inline==0.1.6
numpy==1.24.2
oauthlib==3.2.2
opencv-python==4.7.0.72
pandas==1.5.3
Pillow==9.4.0
plotly==5.13.1
pydicom==2.3.1
streamlit==1.19.0
tensorboard==2.12.0
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tokenizers==0.13.2
tensorflow==2.6.0
toml==0.10.2
transformers==4.26.1

